---
import Post from "@/entities/post/ui/post.astro";
import "@/shared/css/global.css";
import BaseLayout from "@/shared/layouts/base-layout.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<BaseLayout title="Blog">
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post: any) => (
        <Post title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>
